@model Micro_Social_Network.Models.ApplicationUser


<div class="card mt-3" style="height:100%; width: 100%;">

    <div class="card-body d-flex justify-content-between flex-column">

        @Html.Partial("ProfileInfo", Model)

        <ul class="nav nav-pills mb-3 mx-4">
            <li class="nav-item">
                <a class="nav-link" href="/Users/ShowProfile/@Model.Id">Postari</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Prieteni</a>
            </li>
            @if (ViewBag.UserId == Model.Id)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Users/ShowFriendRequests/@Model.Id">Cereri de prietenie</a>
                </li>
            }
        </ul>
        <div class="row mx-3">
            @foreach (var friend in ViewBag.friends)
            {
                <div class="col-4 mb-4">
                    <div class="card" style="height:100%; width: 100%;">

                        <div class="card-body d-flex align-content-center flex-row">
                            <img class="img-fluid" src="~/images/hampster.jpg" style="width:60px; height:60px; border-radius:50%">
                            <a class="m-auto" href="/Users/ShowProfile/@friend.Id">
                                <p class="mb-0"> @friend.UserName </p>
                                <p class="mb-0"> @friend.FirstName @friend.LastName</p>
                            </a>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>


